
#
#--- dicom2bids
#

bids_dir: /home/greydon/Documents/data/single
#bids_dir: /home/greydon/Documents/data/SEEG_rerun

#work computer
#bids_dir: /media/data/data/clinical

#external drive
#bids_dir: /media/greydon/lhsc_data/datasets/SEEG

heuristic: resources/heuristics/clinical_imaging_old.py
dcm_config: resources/dcm_config.json
remove_temp: True

anonymize: False

# Session determination
sort_sessions: True
ses_calc:
  peri: 0
  dur_multi_event: -30
  override_peri: True

# subject level settings
sub_group: patient
subject_prefix: 'P'

noncontrast_t1:
  present: False
  acq: False

fastsurfer:
  run: False
  home: "/home/greydon/Documents/GitHub/FastSurfer"
  py: "python"
  sid: 'fastsurfer'
  batch: 8
  threads: 4
  vox_size: 1    #(0=nearest,1=linear(default),2=quadratic,3=cubic)
  vol_segstats: True
  version: 'dev' # master or dev

fmriprep:
  run: False
  fmriprep_license: resources/license.txt
  bids_filter: resources/bids_filter.json

singularity:
  neuroglia-core: "docker://khanlab/neuroglia-core:latest"
  fastsurfer: "docker://deepmi/fastsurfer:latest"
  freesurfer: "docker://freesurfer/freesurfer:latest"
  fmriprep: resources/fmriprep-21.0.0.simg
